@use "partials/reset";
nav{
    padding: 0.5rem 1rem !important;
    height: 10%;
}

#hero{
    background-color: #7550FE;
    button:nth-child(1){
        background-color: #1ACB98;
    }   
}
main{
    #underHero{
        background-color: white;
        .image{
            background-color:#FFEEDA !important;
            
        }
    }
}
#cardContainer{
    h2{

    };
    .card{
        box-shadow: 2px 2px 2px rgba(194, 193, 193, 0.425);
        .bi-bookmark:hover{
            color: rgb(218, 178, 4);
        }
    }

}
footer{
    li{
    &:hover{
        text-decoration: underline;
    }

    }
}